<div class="text-primary"><h3>会社一覧</h3></div>

<% provide(:name, '検索結果') %>
  <%= search_form_for @q do |f| %>
    <div class="col-xs-2"><%= f.search_field :name_cont ,class: "form-control" ,placeholder: "会社名" %></div>
    <%= f.submit '検索する', class:'btn btn-default' %>

    <% if @companies.any? %>
      <%= render 'index' %>
    <% else %>
    <p>検索結果0件でした。</p>
    <% end %>
  <% end %> <br>


<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>会社名</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>ファックス</th>
      <th>Webサイト</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
   </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
    <tr>
      <td><%= company.name %></td>
      <td><%= company.address %></td>
      <td><%= company.tel %></td>
      <td><%= company.fax %></td>
      <td><%= link_to "#{company.url}", "#{company.url}" %></td>
      <td><%= link_to '詳細', company, class:'btn btn-default' %>
          <%= link_to '編集', edit_company_path(company), class:'btn btn-default' %>
          <%= link_to '削除', company, method: :delete, data: {confirm: '削除しますか?'} , class:'btn btn-default'%>
          <%= link_to '部署一覧へ', company_groups_path(company), class:'btn btn-default' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @companies %>

<br>
<div class="text-center">
<%= link_to '会社を新規登録する', new_company_path, class:'btn btn-primary' %>
</div>

