<!DOCTYPE html>
<html>
  <head>
    <title>Curd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container"> 

 <nav class="navbar navbar-default">
   <ul> 
    <% if log_user_signed_in? %>
      <div class="text-right">
      <li><%= link_to "会社一覧", companies_path,class: "btn btn-primary" %>
         <%= link_to "ログアウト", destroy_log_user_session_path, method: :delete, class: "btn btn-primary"%></li><div>
    <% else %> 
      <div class="text-right">
      <li><%= link_to 'ログイン', new_log_user_session_path, class:'btn btn-primary' %>
          <%= link_to '新規登録', new_log_user_registration_path, class:'btn btn-primary' %></li></div>
    <% end %>
    </ul>
</nav>

      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p><%= flash[:alert] %></p>
      <% end %>
 
      <div class="center-block"> 
      <div id="contents">
        <%= yield %>
      </div>
      </div>

    </div>
   </div>

      <footer class="footer">
        <div class="container">
          <p class="text-muted text-center">2018 名刺管理アプリ</p>
        </div>
      </footer>

  </body>
</html>
